
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  overflow: hidden;
}
.navbar-right-logo {
  background-image: url("/assets/logoBackground.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-heading {
  background-image: url("/assets/backgroundCurve.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35vh;
  min-height: 250px;
}
@media (max-width: 460px) {
.padding-heading{
    padding: 0 !important;
}
}

.bg-heading-search {
  background-image: url("/assets/searchBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 260px;
  height: 35vh;
}
.padding-heading {
  padding: 0px 46px;
  margin-bottom: 50px;
}

.search-button {
  background-color: #f45050 !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 8px 32px !important;
  font-family: "Red Hat Display", sans-serif;
}
.right-arrow {
  font-size: 20px !important;
}
.main-card {
  box-shadow: 0px 19px 30px 0px #f4505021;
}
.search-section {
  margin-top: -185px;
  margin-bottom: -60px;
}
.search-section-search-page {
  margin-top: -225px;
}
.search-input {
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  line-height: 33px;
  line-height: 178%;
  font-style: Medium;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 250px;
  min-height: 100px;
}

.search-input-home{
    font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  line-height: 33px;
  line-height: 178%;
  font-style: Medium;
  height: auto;

}
.search-input::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.search-input::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.search-input::-webkit-scrollbar-thumb {
  background: rgba(235, 83, 84, 0.62);
  border-radius:5px;
}

/* Handle on hover */
.search-input::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bg-footer {
  position: relative;
  background-image: url("/assets/backgroundGift.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  min-height: 300px;

}
.footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f4505026;
  padding: 14px;
  color: #f45050;

} 
.footer-link {
  color: #f45050;

}
@media (max-width: 768px) {
  #footer-link-parent {
    text-align: start !important;
  }
}
.profile2 {
  width: 60px !important;
  height: 35px !important;
}
.profile1 {
  width: 60px !important;
  height: 35px !important;
}

textarea{
    resize: none !important;
}
textarea::-webkit-scrollbar{
  display: none;
}
textarea:focus {
  outline: none;
}
textarea::placeholder {
  color: #505050;
  font-size: 14px;
}
.search-result {
  font-family: "Red Hat Display", sans-serif;
  color: #000000;
  font-size: 26px;
}
.refresh {
  color: #505050;
  font-size: 14px;
}
.fa-rotate-right {
  color: #eb5354;
  margin-right: 5px;
  font-size: 20px;
}
.card-price {
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #CF4747;
font-family: 'Poppins', sans-serif;
}
.fa-indian-rupee-sign {
  font-size: 14px;
  margin-right: 5px;
}

.search-footer {
  margin-top: -150px;
}
.card {
  z-index: 2;
}

.card-row {
  box-shadow: 10px 19px 30px 10px #f4505021;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 10px;
}

/* .profile-1-text::before {
  position: absolute;
  content: "";
  background-image: url("/assets/leftarrow.png");
  width: 35px;
  height: 35px;
  display: block;
  background-repeat: no-repeat;
  left: 73px;
  top: 20px;
} */

/* .profile-2-text::after {
  position: absolute;
  content: "";
  background-image: url("/assets/rightarrow.png");
  width: 35px;
  height: 35px;
  display: block;
  background-repeat: no-repeat;
  right: 47px;
} */

@media (max-width: 767px) {
  .profile-1-span {
    margin-left: 0 !important;
    
  }

  .profile-2-span {
    margin-bottom: 20px !important;
    margin-right: 8px !important;
  }

}

.profile-1-text {
  padding: 10px;
}
.profile-2-text {
  padding: 40px 10px;
}
.profile-1-span {
  background-color: #fff1f1;
  margin-left: 10px;
  padding: 15px;
  background: #FFE8E8;
border-radius: 10px;

}

.profile-2-span {
  background-color: #fff1f1;
  margin-right: 10px;
  padding: 15px;
  white-space: pre-line;
  background: #FFE8E8;
border-radius: 10px;
}

.fa-play {
  color: #fff1f1;
  transform: rotate(180deg);
  rotate: 180;
}

a {
  text-decoration: none !important;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
}
.see-more{
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 27px;
text-decoration-line: underline;
color: #F45050;
}
.cursor-pointer{
  cursor: pointer;
}
.section-3{
  margin-bottom: -150px;
}
.opacity-body{
  /* opacity: 0.2; */
  /* backdrop-filter: blur(10); */
   /* -webkit-backdrop-filter: blur(5px); */
    filter: blur(4px);
-webkit-filter: blur(4px);
}
.main-loader{
  position: fixed;
    top: 33vh;
    right: 0;
    left: 0;
    z-index: 24;
}

@media (max-width:350px){
  .animated-text{
    font-size: 0.8rem !important;
  }
}


@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 23% !important;
}
}

.privacy-policy-content{
  margin-top: -200px;
  box-shadow: 0px 19px 30px rgba(244, 80, 80, 0.13);
  background-color:#ffffff;
  line-height: 27px;
  border-radius: 5px;
}
.privacy-policy-heading{
  color:#F45050
}
.privacy-policy-para{
  font-family: 'Red Hat Display',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 33px;
}
.terms-use-content{
  margin-top: -230px;
  margin-bottom: -50px;
  box-shadow: 0px 19px 30px rgba(244, 80, 80, 0.13);
  background-color:#ffffff;
  line-height: 27px;
  border-radius: 5px;
}
.terms-use-heading{
  color:#F45050
}
.terms-use-para{
  font-family: 'Red Hat Display',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 33px;
}
li::marker {
  color: #F45050;
}




/* new design */

.background-giftai{
   background-image: url("/assets/giftaiBackground.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


@media (max-width:757px){
  .background-giftai{
    background-size: cover;
  }
}

.header-home-page{
  display: flex;
  justify-content: space-between;
   padding: 30px !important;
   align-items: center;
}
.heading-text{
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #000000;
margin-bottom: 50px;
font-family: 'Roboto', sans-serif;
}

.search-input-homepage{
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 14px;
}

.search-icon-span{
position: absolute;
    right: 6px;
    top: 0px;
    padding: 10px;
   background: #F45050;
    border-radius: 50%;
}
.search-icon{
  font-size: 27px;
  color: white;
}
.input-footer{
  text-align: center;
  font-family: 'Roboto' sans-serif;
font-style: normal; 
font-weight: 700;
font-size: 14px;
line-height: 122.19%;
color: #696969;

}

.input-footer-span{
  font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 122.19%;
color: #000000;
}

.home-image{
  position: relative;
}


.image-hover{
  transition: 0.5s;
  width: 76px;
  height: 76px;
}

.home-image:hover .image-hover {
  filter: brightness(0.8);
  box-shadow: none;
  border: none;
  outline: none;
}

.home-image:hover .middle {
  opacity: 1;
}

.text {
  font-family: 'Roboto' sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 19px;
color: #FFFFFF;
}

.image-hover {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.footer-links{

 font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #000000;
}

.float-right{
  float: right;
}
.footer-container{
  padding: 20px;
}

@media (max-width: 570px) {
.footer-contents{
    text-align: center !important;
}
.search-page-textarea{
  display: block !important;
}
.send-button{
  display: block !important;
  margin: auto;
}

}

.image-container{
 padding-bottom: 100px;
}

.footer-contents{
  text-align: end;
}

#search-textarea{
 background: #FFFFFF;
border: 1px solid #EDEDED;
border-radius: 6px;
width: 100%;
}
  
.search-page-textarea{
  display: flex;
  justify-content: space-around;
}
.send-button{
background: #F45050 !important;
border: 1px solid #F45050 !important; 
border-radius: 6px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF !important;
padding-top: 13px !important;
padding-bottom: 13px !important;
}

.send-button-div{
  text-align: end;
}

@media (max-width: 980px) {
.send-button-div{
  text-align: center !important;
  margin-top: 20px !important;
}
}

.image-1{
  width: 70px !important;
  height: 58px;
  background-image: url("/assets/profile1b.png");
  background-repeat: no-repeat;
  padding-top: 14px;
   padding-left: 17px !important;
}
.image-2{
  width: 70px !important;
  background-image: url("/assets/profile2b.png");
  background-repeat: no-repeat;
  padding-right: 31px !important;
  padding-top: 14px !important;
}

.products-bg{
  background-image: url("/assets/searchbg.png");
  background-repeat: no-repeat;
}
.search-page-text{
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #000000;
font-family: 'Poppins', sans-serif;
}

.card-image{
  height: 250px;
  width: 185px;
}

.card-image-link{
  margin: auto;
  padding: 10px;
}

.product-card{
 background: #FFFFFF;
border: 1px solid #F5F5F5;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
border-radius: 8px;
}

.justify-center{
  justify-content: center;
}
.dot{
  font-size: 30px;
  color: #F45050;;
}
.search-page-footer{
  padding: 20px;
  margin-top: 25px;
}

@media (max-width: 570px){
  #image2{
    margin-top: 66px;
  }
  #image3{
    margin-top: 81px;
  }
}

@media (min-width:571px){
#image2{
  margin-top: 70px;
}
#image4{
  margin-top: 65px;
}
#image5{
  margin-top: 5px;
}
}
@media (min-width:719px){
  #image1{
    margin-right: -71px;
  }
}
@media (max-width: 437px){



}

@media (max-width: 377px){
   .image-hover{
    width: 55px;
   }

.text{
  font-size: 10px;
}

}
.search-page-text{
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-align: center;
color: #000000;
font-family: 'Poppins', sans-serif;
}

.card-title-height{
  height: 72px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
font-family: 'Poppins', sans-serif;
}

#image1{
  margin-left: auto;
}
.slick-dots li.slick-active button:before {
    color:#F45050 !important;
}
.slick-dots{
  position: initial !important;
}


@media (max-width: 307px){
  .image-2{
    width: 57px !important;
    padding-right: 20px !important;
  }
}


 
.product-button{
  position: relative;
  z-index: 1;
}
.product-button:hover{
  background-color: #F45050 !important;
}
.custom-dot-list-style{
  color: red !important;
}
.carousel .control-dots .dot{
  color: red !important;
}

.react-multi-carousel-track{
  margin-bottom: 33px !important;
}
.react-multi-carousel-dot--active button{
 background-color: #F45050 !important;
}

.search-results{
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 22px;
text-align: center;
color: #000000;
font-family: 'Poppins', sans-serif;
}

.refresh{
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 22px;
color: #F45050;
font-family: 'Roboto', sans-serif;
}


.react-multi-carousel-list{
  justify-content: center;
}

